<style>
    #footer {
        background-color: #1e293b;
        border: none;
        outline: none;
        box-shadow: none;
    }
</style>

<!--Footer-->
<footer class="text-secondary py-3 my-3" id="footer">

    <!--Contenedor del footer-->
    <div class="container-fluid">

        <nav class="row align-items-center">
            <div class="col-sm-3 d-flex align-items-center justify-content-center">
                <!--Logo-->
                <a href="" class="d-sm-flex d-none d-sm-none d-md-block">
                    <img src="./../iconos/logo_fesa.png" alt="Logo" class="img-fluid" style="width: 40%;">
                    <img src="./../iconos/logo_mac.png" alt="Logo" class="img-fluid" style="width: 40%;">
                </a>
            </div>
            <ul class="col-sm-3 list-unstyled">
                <!--Menu-->
                <li class="fw-semibold align text-info"> Sitio </li>
                <li class="font-weight-bold">
                    <a href="" class="nav-link">nahuapp.com</a>
                </li>
            </ul>
            <ul class="col-sm-3 list-unstyled">
                <!--Menu 2-->
                <li class="fw-semibold text-info">Informacion</li>
                <li class="font-weight-bold">
                    <a href="" class="nav-link">Sobre nosotros</a>
                </li>
            </ul>
            <ul class="col-sm-3 list-unstyled">
                <!--Redes-->
                <li class="fw-semibold text-info">Redes</li>
                <li class="">
                    <a href="" class="text-reset px-1"><i class="bi bi-tiktok"></i></a>
                    <a href="" class="text-reset px-1"><i class="bi bi-youtube"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
