<!DOCTYPE html>
<html>

<head>
  <title>Resumenes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Start CSS del loader -->
    <link rel="stylesheet" href="./../css/loader.css">
    <!-- End CSS del loader -->
  <!--Start Componentes html-->
  <script src="./../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>

<body>
  <!--Start Loader-->
  <div id="loaderBackground">
    <div id="loader" class="loadingio-spinner-ripple-2by998twmg8">
      <div class="ldio-yzaezf3dcmj">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      setTimeout(function () {
        document.getElementById('loaderBackground').style.display = 'none'; // Se oculta la animación de carga después de que el DOM está listo
      }, 500); // Opcional: retrasa la desaparición 1 segundo ,1000
    });
  </script>
  <!--End Loader-->
  
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Container-->
  <div class="container my-5">
    <h1>Temario</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#">Unidad 1: Esbozo de la interculturalidad de la lengua náhuatl.</a>
        <p>
          <br>
          ¡Bienvenidx a la Unidad 1, en esta seccion aprenderas la importancia de la lengua nahuatl!.
        </p>
        <p>
          Te invitamos a explorar el gramario de la lengua nahuatl y sus principales sonidos, explorando la magia de la
          metáfora, los difrasismos
          y otros aspectos caracteristicos del náhuatl, que revelan una cosmovisión única y profunda.
        </p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#U1"
          aria-expanded="false" aria-controls="U1">
          Ver más
        </button> 


        <ul class="list-group collapse" id="U1">
          <li class="list-group-item"><a href="/temas/1/1">1.1 La lengua nahuatl</a></li>
          <li class="list-group-item"><a href="/temas/1/2">1.2 Pronombres personales</a></li>
          <li class="list-group-item"><a href="/temas/1/3">1.3 Pronombres objeto</a></li>
          <li class="list-group-item"><a href="/temas/1/4">1.4 Prefijos indefinidos</a></li>
          <li class="list-group-item"><a href="/temas/1/5">1.5 Posesivos</a></li>
          <li class="list-group-item"><a href="/temas/1/6">1.6 Transitivos</a></li>
          <li class="list-group-item"><a href="/temas/1/7">1.7 Intransitivos</a></li>
          <li class="list-group-item"><a href="/temas/1/8">1.8 Reflexivos</a></li>
          <li class="list-group-item"><a href="/temas/1/9">1.9 Tiempos verbales</a></li>
          <li class="list-group-item"><a href="/temas/1/10">1.10 Interrogativos</a></li>
        </ul>
      </li>
      <li class="list-group-item"><a href="#">Unidad 2: Interacciones básicas.</a>
        <p>
          <br>
          ¡Bienvenidx a la Unidad 2, donde nos sumergiremos en las interacciones básicas en náhuatl!
        </p>
        <p>
          Aquí aprenderás las expresiones fundamentales para comunicarte en esta hermosa lengua, tanto de forma
          individual como en grupos.
          Además, aprenderás a presentarte, a compartir información básica sobre ti, como tu lugar de residencia y tu
          lugar de nacimiento.
          Descubrirás cómo contar tu edad utilizando la numeración vigesimal, un sistema único que refleja la
          cosmovisión de las culturas mesoamericanas.
          En esta unidad, también te sumergirás en las expresiones relacionadas con tus intereses y actividades diarias.
          Aprenderás a expresar tus gustos
          utilizando el verbo "me gusta" junto con la forma infinitiva de los verbos en náhuatl.
        </p>
        <p>
          Pero no nos detendremos ahí. También exploraremos cómo expresar estados anímicos y emocionales, utilizando
          frases como "¿Quenin timomati?" (¿Cómo te sientes?).
        </p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#U2"
          aria-expanded="false" aria-controls="#U2">
          Ver más
        </button>

        <ul class="list-group collapse" id="U2">
          <li class="list-group-item"><a href="/temas/2/1">2.1 Saludos y despedidas.</a></li>
          <li class="list-group-item"><a href="/temas/2/2">2.2 Mi nombre es.</a></li>
          <li class="list-group-item"><a href="/temas/2/3">2.3 Vivo en.</a></li>
          <li class="list-group-item"><a href="/temas/2/4">2.4 Naci en.</a></li>
          <li class="list-group-item"><a href="/temas/2/5">2.5 La numeracion.</a></li>
          <li class="list-group-item"><a href="/temas/2/6">2.6 Tengo x años.</a></li>
          <li class="list-group-item"><a href="/temas/2/7">2.7 El verbo "me gusta".</a></li>
          <li class="list-group-item"><a href="/temas/2/8">2.8 Verbos en infinitivo.</a></li>
          <li class="list-group-item"><a href="/temas/2/9">2.9 Estados animicos.</a></li>
          <li class="list-group-item"><a href="/temas/2/10">2.10 Estudio y trabajo.</a></li>
        </ul>
      </li>
      <li class="list-group-item"><a href="#">Unidad 3: Descripcion de personas y objetos.</a>
        <p><br>¡Bienvenido a la Unidad 3, donde exploraremos la descripción de personas y objetos en náhuatl!</p>
        <p>
          En esta sección, aprenderás a expresar características físicas y cualidades de personas y objetos, 
          comenzaremos con la expresión de gustos y preferencias. Además, aprenderás a describir objetos comunes en tu entorno, 
          descripción de personas y animales, aprendiendo a expresar características distintivas utilizando el vocabulario adecuado.
        </p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#U3"
          aria-expanded="false" aria-controls="U3">
          Ver más
        </button>

        <ul class="list-group collapse" id="U3">
          <li class="list-group-item"><a href="/temas/3/1">3.1 A mi me gusta el color.</a></li>
          <li class="list-group-item"><a href="/temas/3/2">3.2 Frutas y verduras.</a></li>
          <li class="list-group-item"><a href="/temas/3/3">3.3 Descripcion de personas.</a></li>
        </ul>
      </li>
      <li class="list-group-item"><a href="#">Unidad 4: La familia.</a>
        <p><br>¡Bienvenidx a la Unidad 4, donde exploraremos el fascinante mundo de la familia y el parentezco en náhuatl!</p>
        <p>
          En esta sección, aprenderás a hablar sobre los miembros de tu familia y a describir tus relaciones familiares
          Comenzaremos con la presentación de familiares, aprendiendo a decir "Mi abuela, mi abuelo se llama…" y compartiendo 
          detalles sobre sus edades y características distintivas. Descubrirás la importancia de la familia y el papel central que desempeñan en la comunidad.
          Además, explorarás las relaciones entre padres e hijos, aprendiendo a presentar a tu madre y a tu padre y compartiendo información sobre sus lugares 
          de residencia y actividades diarias. Pero eso no es todo. También explorarás las relaciones familiares extendidas, aprendiendo a hablar sobre la 
          esposa de tu hermano (tu cuñada) y los padres de tu cónyuge (tus suegros). Descubrirás cómo expresar las complejas redes de parentesco que unen a las familias.
        </p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#U4"
          aria-expanded="false" aria-controls="U4">
          Ver más
        </button>

        <ul class="list-group collapse" id="U4">
          <li class="list-group-item"><a href="/temas/4/1">4.1 Parentesco.</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>