<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vocabulario</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Start CSS del loader -->
    <link rel="stylesheet" href="./../css/loader.css">
    <!-- End CSS del loader -->
    <!--Start Componentes html-->
    <script src="./../scrips/component.js"></script>
    <head-component></head-component>
    <!-- End Componentes html-->
</head>

<body>

    <!--Start Loader-->
    <div id="loaderBackground">
        <div id="loader" class="loadingio-spinner-ripple-2by998twmg8">
            <div class="ldio-yzaezf3dcmj">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                document.getElementById('loaderBackground').style.display = 'none';
            }, 500);
        });
    </script>
    <!--End Loader-->

    <!--Start father container-->
    <div class="container" id="father-container">

        <!--Start Menu header-->
        <header-component id="header"></header-component>
        <!--End Menu header-->

        <div class="container my-5" id="main">
            <h1>Vocabulario</h1>

            <form id="busqueda-form">
                <div class="form-group">
                    <label for="palabra">Palabra:</label>
                    <input type="text" class="form-control" id="palabra" placeholder="Ingresa una palabra">
                </div>

                <div class="form-group">
                    <label for="letra">Filtrar por letra:</label>
                    <select class="form-control" id="letra">
                        <option value="-"></option>
                        <option value="">Todas</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="d">D</option>
                        <option value="e">E</option>
                        <option value="f">F</option>
                        <option value="g">G</option>
                        <option value="h">H</option>
                        <option value="i">I</option>
                        <option value="j">J</option>
                        <option value="k">K</option>
                        <option value="l">L</option>
                        <option value="m">M</option>
                        <option value="n">N</option>
                        <option value="ñ">Ñ</option>
                        <option value="o">O</option>
                        <option value="p">P</option>
                        <option value="q">Q</option>
                        <option value="r">R</option>
                        <option value="s">S</option>
                        <option value="t">T</option>
                        <option value="u">U</option>
                        <option value="v">V</option>
                        <option value="w">W</option>
                        <option value="x">X</option>
                        <option value="y">Y</option>
                        <option value="z">Z</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>

            <div class="resultados mt-4">
                <h2>Resultados:</h2>
                <table id="tabla-resultados" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Español</th>
                            <th>Nahuatl</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <script>
                $(document).ready(function () {
                    let datosDiccionario = [];

                    // Cargar el archivo JSON
                    $.getJSON('./../diccionario/diccionario.json', function (data) {
                        datosDiccionario = data[2].data;
                    }).fail(function () {
                        console.error("Error al cargar el archivo JSON");
                    });

                    $('#busqueda-form').submit(function (event) {
                        event.preventDefault();

                        var palabra = $('#palabra').val().toLowerCase();
                        var letra = $('#letra').val().toLowerCase();

                        if (!Array.isArray(datosDiccionario) || datosDiccionario.length === 0) {
                            console.error("El diccionario no está cargado correctamente");
                            return;
                        }

                        var resultados = datosDiccionario.filter(function (item) {
                            var palabraMatch = palabra ? item.espanol.toLowerCase().includes(palabra) : true;
                            var letraMatch = letra ? item.espanol.toLowerCase().startsWith(letra) : true;
                            return palabraMatch && letraMatch;
                        });

                        mostrarResultados(resultados);
                    });

                    function mostrarResultados(resultados) {
                        var tablaResultados = $('#tabla-resultados tbody');
                        tablaResultados.empty();

                        if (resultados.length === 0) {
                            var noResultRow = $('<tr>').append($('<td colspan="3">').text('Lo siento, no encontré nada :/'));
                            tablaResultados.append(noResultRow);
                        } else {
                            resultados.forEach(function (resultado) {
                                var fila = $('<tr>');
                                fila.append($('<td>').text(resultado.id));
                                fila.append($('<td>').text(resultado.espanol));
                                fila.append($('<td>').text(resultado.nahuatl));
                                tablaResultados.append(fila);
                            });
                        }

                        $('#tabla-resultados').show();
                    }

                    $('#letra').change(function () {
                        $('#palabra').val('');
                        $('#busqueda-form').submit();
                    });
                });
            </script>

        </div>

        <!--Start Menu footer-->
        <footer-component id="footer"></footer-component>
        <!--End Menu footer-->

    </div>
    <!--End father container-->
</body>
</html>