<!DOCTYPE html>
<html>

<head>
  <title>Caracteristicas del nahuatl.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.1</span>
    </nav>
  </div>

  <div class="container">

    <h1>Caracteristicas del nahuatl.</h1>
    <hr>
    <h5>1. Difrasismos.</h5>
    <p>Es una lengua metaforica.
      Algunos ejemplos de los difrasismos son los siguientes</p>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Difrasismos</th>
            <th>Nahuatl</th>
            <th>Español</th>
            <th>Composicion</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Yolotl<br>Ixtli</td>
            <td>Corazon<br>Rostro</td>
            <td>Yolotl-ixtli</td>
            <td>Personalidad</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Tlatqui<br>Tlamama</td>
            <td>Cargar<br>Portar</td>
            <td>Tlatqui-tlamama</td>
            <td>Gobernar</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>&nbsp</p>

    <h5>2. Saltillo</h5>
    <p>En el náhuatl clásico existe un fonema llamado “saltillo”,
      este es representado por una “h”, comúnmente precedida por una vocal,
      en palabras de Andres de Olmos “la h hiere de reflejo a la vocal que la antecede”,
      esto quiere decir que la vocal que antecede al saltillo se “aspira”. Un ejemplo del
      saltillo sería el siguiente.</p>
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item">Xitleco - ¡Tírate al fuego!</li>
        <li class="list-group-item">Xitle<strong>h</strong>co - ¡Subete!</li>
      </ul>
      <br>

      <p>&nbsp</p>

      <h5>3. Acento grave.</h5>
      <p>En su mayoría las palabras en náhuatl se acentúan como palabras graves,
        esto quiere decir que la fuerza de la voz recae siempre en la
        penúltima sílaba, sin embargo no se utiliza ningún símbolo como
        la tilde para señalarlo.
      <table class="table">
        <thead>
          <tr>
            <th>Pronunciacion en Español</th>
            <th>Pronunciacion en Nahuatl</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Acatl<strong>á</strong>n</td>
            <td>Ac<strong>á</strong>tlan</td>
          </tr>
          <tr>
            <td>Ecatep<strong>é</strong>c</td>
            <td>Ecat<strong>é</strong>pec</td>
          </tr>
          <tr>
            <td>Pantitl<strong>á</strong>n</td>
            <td>Pant<strong>í</strong>tlan</td>
          </tr>
        </tbody>
      </table>

      <p>&nbsp</p>

      <h5>4. Elision</h5>
      <p>En náhuatl como en otras lenguas se omiten ciertas grafías al formar palabras u oraciones,
        esto reduce el número de sílabas.</p>
      <table class="table">
        <thead>
          <tr>
            <th>Palabra uno</th>
            <th>Palabra dos</th>
            <th>Resultante</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Xochi<strong>tl</strong></td>
            <td>Mil<strong>li</strong></td>
            <td>Xochimilco</td>
          </tr>
          <tr>
            <td>Ne<strong>huatl</strong></td>
            <td>Notoca<strong>h</strong></td>
            <td>Ne notocah</td>
          </tr>
          <tr>
            <td>Ne<strong>huatl</strong></td>
            <td>Tlacua<strong>liztli</strong></td>
            <td>Nitlacua</td>
          </tr>
        </tbody>
      </table>

      <p>&nbsp</p>

      <h5>5. Gramario.</h5>
      <p>La escritura náhuatl se hace tomando prestado algunas letras o grafías
        del alfabeto latino y está compuesto por los siguientes fonemas.</p>
      <table class="table">
        <tbody>
          <thead>
            <tr>
              <th class="text-center" colspan="7">
                Consonantes
              </th>
            </tr>
          </thead>
          <tr>
            <td>C</td>
            <td>H</td>
            <td>J</td>
            <td>L</td>
            <td>M</td>
            <td>N</td>
            <td>P</td>
          </tr>
          <tr>
            <td>Q</td>
            <td>S</td>
            <td>T</td>
            <td>X</td>
            <td>Y</td>
            <td>Z</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <p>&nbsp</p>

      <table class="table">
        <thead>
          <tr>
            <th class="text-center" colspan="5">
              Consonantes compuestas
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>LL</td>
            <td>TL</td>
            <td>TZ</td>
            <td>CH</td>
            <td>UH/HU</td>
          </tr>
        </tbody>
      </table>

      <p>&nbsp</p>

      <table class="table">
        <thead>
          <tr>
            <th class="text-center" colspan="5">
              Vocales
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A</td>
            <td>E</td>
            <td>I</td>
            <td>O</td>
            <td>U</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
</body>

</html>