<!DOCTYPE html>
<html>
  <head>
    <title>Interrogativos y exclamativos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--Start Componentes html-->
      <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
  </head>

  <body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.10</span>
    </nav>
  </div>

  <div class="container">
    <h1>Interrogativos</h1>
    <hr>
    <p>
      Los interrogativos se utilizan para preguntar y son los siguientes.
    </p>
    <ul class="list-unstyled">
      <li class="bi bi-dash-lg">¿Tlen? - ¿Qué?</li>
      <li class="bi bi-dash-lg">¿Tlein - ¿Qué?</li>
      <li class="bi bi-dash-lg">¿Tlenon? - ¿Qué?</li>
      <li class="bi bi-dash-lg">¿Quen? - ¿Como?</li>
      <li class="bi bi-dash-lg">¿Quenin? - ¿Como?</li>
      <li class="bi bi-dash-lg">¿Ahquin? - ¿Quien?</li>
      <li class="bi bi-dash-lg">¿Cahtli? - ¿Cuál?
      <li class="bi bi-dash-lg">¿Quemman? - ¿Cuándo?
        <ul class="list-unstyled">
          <li class="bi bi-dot p-2">ihcuac - Cuando...</li>
        </ul>
      </li>
      </li>
      <li class="bi bi-dash-lg">¿Campa? - ¿Dónde?</li>
      <li class="bi bi-dash-lg">¿Canin? - ¿Dónde?</li>
      <li class="bi bi-dash-lg">¿Quezquin? - ¿Cuanto?</li>
      <li class="bi bi-dash-lg">¿Quexquich? - ¿Cuanto?</li>
      <li class="bi bi-dash-lg">¿Quenque? - ¿Por que?</li>
      <li class="bi bi-dash-lg">¿Tleica? - ¿Por que?
        <ul class="list-unstyled">
          <li class="bi bi-dot p-2">Ipampa - Porque...</li>
        </ul>
      </li>
    </ul>
  </div>
        <!--Start Menu footer-->
        <footer-component></footer-component>
        <!--Start Menu footer-->
   </body>
</html>