<!DOCTYPE html>
<html>
  <head>
    <title>Pronombres personales</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
    
  </head>


<body>
    <!--Start Menu header-->
    <header-component></header-component>
    <!--End Menu header-->
    <!--Migas de pan-->
    <div class="container py-4">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Inicio</a>
        <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
        <span class="breadcrumb-item active" aria-current="page">Tema 1.1</span>
      </nav>
    </div>

  <h1>Pronombres</h1>
  <p>Los pronombres personales o “prefijos de sujeto verbal” son los siguientes.</p>
    <table class="table text-center">
      <thead>
        <tr>
          <th>Pronombre</th>
          <th>Forma Simple</th>
          <th>Contraccion</th>
          <th>Prefijo verbal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Yo</td>
          <td>Nehuatl</td>
          <td>Ne</td>
          <td>Ni</td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>Tehuatl</td>
          <td>Te</td>
          <td>Ti</td>
        </tr>
        <tr>
          <td>El / ella</td>
          <td>Yehuatl</td>
          <td>Ye</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Nosotros</td>
          <td>Tehuantin</td>
          <td>Teh</td>
          <td>Ti</td>
        </tr>
        <tr>
          <td>Ustedes</td>
          <td>Amehuantin</td>
          <td>Ameh</td>
          <td>An</td>
        </tr>
        <tr>
          <td>Ellos / ellas</td>
          <td>Yehuantin</td>
          <td>Yeh</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
    </body>
</html>