<!DOCTYPE html>
<html>

<head>
  <title>Pronombres objeto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.3</span>
    </nav>
  </div>

  <h1>Pronombres objeto</h1>
  <p>Los pronombres objeto u “objeto definido” en náhuatl son los siguientes.</p>
  <table class="table text-center">
    <thead>
      <tr>
        <th>Pronombre</th>
        <th>Significado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nech</td>
        <td>A mi, me</td>
      </tr>
      <tr>
        <td>Mitz</td>
        <td>A ti, te</td>
      </tr>
      <tr>
        <td>Qui</td>
        <td>A el/ella, la, lo, le</td>
      </tr>
      <tr>
        <td>Tech</td>
        <td>A nosotros, nos</td>
      </tr>
      <tr>
        <td>Anmech</td>
        <td>a ustedes, les</td>
      </tr>
      <tr>
        <td>Quin</td>
        <td>A ellos/ellas, las, los, les</td>
      </tr>
    </tbody>
  </table>
  <p>Ejemplo:</p>
  <p>Ni<strong>mitz</strong>tlazohtla -> Yo <strong>a ti</strong> te amo o Yo <strong>te</strong> amo.</p>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>