<!DOCTYPE html>
<html>

<head>
  <title>Prefijos objeto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.4</span>
    </nav>
  </div>

  <h5>Prefijo “tla” - algo.</h5>
  <p>En náhuatl existe el prefijo “tla”, este prefijo sirve para suplir los objetos que se hace
    referencia, por ejemplo en español podemos decir: Yo como, sin decir qué estamos comiendo,
    pero en náhuatl aunque no mencionemos de forma particular que comemos, siempre se debe mencionar
    de forma general que estamos comiendo algo.</p>
  <p>Ejemplo: Nitlacua - Yo como algo.</p>

  &nbsp;

  <h5>Prefijo “te” - alguien.</h5>
  <p>En náhuatl existe el prefijo “te”, este prefijo sirve para suplir a la persona que se le
    hace referencia, por ejemplo en español podemos decir: Yo ayudo, sin decir a quien estamos
    ayudando, pero en náhuatl aunque no mencionemos de forma particular a quien ayudamos, siempre
    se debe mencionar de forma general que ayudamos a alguien.</p>
  <p>Ejemplo: Nitepalehuia - Yo ayudo a alguien.</p>

  &nbsp;

  <p>Ahora bien, cuando se define la persona o el sujeto entiéndase que en vez de mencionarlo
    de forma general (alguien/algo) se menciona de forma particular (quien/que), cambiamos el
    prefijo “te/tla” por una “c” o una “qu” dependiendo el caso, esto siempre para emular el
    sonido que produce una k.</p>
  <p>Ejemplo: Niccua tlacoyos - Yo como tlacoyos.</p>
  <p>Nicpalehuia nonan - Yo ayudo a mi mama.</p>
  <p>Notamos que el prefijo siempre se escribe entre el pronombre y el verbo.</p>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>