<!DOCTYPE html>
<html>

<head>
  <title>Título de la página</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>


<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.5</span>
    </nav>
  </div>

  <div class="container">
    <h1>Posesivos.</h1>
    <hr>

    <p>Los posesivos son aquellos que le indican al sustantivo la pertenencia del
      sujeto y son los siguientes.</p>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Posesivo</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No</td>
            <td>de mi, mi, mío</td>
          </tr>
          <tr>
            <td>mo</td>
            <td>de ti, tu, tuyo</td>
          </tr>
          <tr>
            <td>i</td>
            <td>de el/ella, su, suyo</td>
          </tr>
          <tr>
            <td>to</td>
            <td>de nosotros, nuestro</td>
          </tr>
          <tr>
            <td>anmo</td>
            <td>de ustedes, vuestro</td>
          </tr>
          <tr>
            <td>in/inin</td>
            <td>de ellos/ellas</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>Ejemplos</p>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>No</strong>chan - Mi casa.
      </li>
      <li class="list-group-item">
        <strong>Mo</strong>mich - Tu pescado.
      </li>
      <li class="list-group-item">
        <strong>I</strong>nan - Su mama de ella o de él.
      </li>
      <li class="list-group-item">
        <strong>No</strong>cihuah - mi mujer.
      </li>
    </ul>

    &nbsp;

    <p>Notamos algo curioso aquí, cuando se utilizan los posesivos se eliminan los sufijos
      de los sustantivos, puesto que casa se escribe “<i>chan<strong>ti</strong></i>”, pescado se escribe
      “<i>mich<strong>in</strong></i>”,
      mama se escribe “<i>nan<strong>tli</strong></i>” y mujer se escribe “<i>cihua<strong>tl</strong></i>”.
      Esas terminaciones de los sustantivos
      son también las cuatro terminaciones básicas que podemos encontrar (“<i><strong>ti</strong></i>”,
      “<i><strong>in</strong></i>”, “<i><strong>tli</strong></i>”, “<i><strong>tl</strong></i>”)
      una guía práctica es buscarlas y eludirlas siempre que usamos posesivos.</p>
  </div>

    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
</body>

</html>