<!DOCTYPE html>
<html>
  <head>
    <title>Transitivos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
    
  </head>
  <body>
      <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.6</span>
    </nav>
  </div>

    <div class="container">
      <h1>Verbos transitivos</h1>
      <hr>
      
      &nbsp;

      <p>Los verbos transitivos pueden definirse como aquellos que necesitan dos participantes, 
        el sujeto que ejerce la acción del verbo y el objeto directo, que es aquel sobre el que se 
        ejerce dicha acción.</p>
      <p>El verbo comer es un verbo intransitivo.</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Prefijo</th>
              <th>Verbo</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>tla</td>
              <td>cua</td>
              <td>Yo como algo</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>tla</td>
              <td>cua</td>
              <td>El o ella come algo</td>
            </tr>
            <tr>
              <td>-</td>
              <td>tla</td>
              <td>cua</td>
              <td>El o ella come algo</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>tla</td>
              <td>cuah</td>
              <td>Nosotros comemos algo</td>
            </tr>
            <tr>
              <td>An</td>
              <td>tla</td>
              <td>cuah</td>
              <td>Ustedes comen algo</td>
            </tr>
            <tr>
              <td>-</td>
              <td>tla</td>
              <td>cuah</td>
              <td>Ellos o ellas comen algo</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Recordemos que al definir el prefijo “tla”, cambia por el sonido que produce una “k”, 
        entonces al definir que estamos comiendo la tabla quedaría del siguiente modo.</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Prefijo</th>
              <th>Verbo</th>
              <th>Complemento</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>c</td>
              <td>cua</td>
              <td>pozolli</td>
              <td>Yo como pozole</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>c</td>
              <td>cua</td>
              <td>pozolli</td>
              <td>Tu como pozole</td>
            </tr>
            <tr>
              <td>-</td>
              <td>qui</td>
              <td>cua</td>
              <td>pozolli</td>
              <td>El o ella como pozole</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>c</td>
              <td>cuah</td>
              <td>pozolli</td>
              <td>Nosotros comemos pozole</td>
            </tr>
            <tr>
              <td>An</td>
              <td>qui</td>
              <td>cuah</td>
              <td>pozolli</td>
              <td>Ustedes comen pozole</td>
            </tr>
            <tr>
              <td>-</td>
              <td>qui</td>
              <td>cuah</td>
              <td>pozolli</td>
              <td>Ellos o ellas comen pozole</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Ahora podemos probar el verbo intransitivo amar.</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Prefijo</th>
              <th>Verbo</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>te</td>
              <td>tlazohtla</td>
              <td>Yo amo a alguien</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>te</td>
              <td>tlazohtla</td>
              <td>Tu amas a alguien</td>
            </tr>
            <tr>
              <td>-</td>
              <td>te</td>
              <td>tlazohtla</td>
              <td>El o ella ama a alguien</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>te</td>
              <td>tlazohtlah</td>
              <td>Nosotros amamos a alguien</td>
            </tr>
            <tr>
              <td>An</td>
              <td>te</td>
              <td>tlazohtlah</td>
              <td>Ustedes aman a alguien</td>
            </tr>
            <tr>
              <td>-</td>
              <td>te</td>
              <td>tlazohtlah</td>
              <td>Ellos o ellas aman a alguien</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        De modo análogo al ejemplo anterior, definiremos el prefijo “te”, para decir a quien amamos.
      </p>
      <div class="table.responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Prefijo</th>
              <th>Verbo</th>
              <th>Complemento</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>c</td>
              <td>tlazohtla</td>
              <td>pedro</td>
              <td>Yo amo a pedro</td>
            </tr>
            <tr>
              <td>Ni</td>
              <td>c</td>
              <td>tlazohtla</td>
              <td>pedro</td>
              <td>Yo amo a pedro</td>
            </tr>
            <tr>
              <td>Ni</td>
              <td>c</td>
              <td>tlazohtla</td>
              <td>pedro</td>
              <td>Yo amo a pedro</td>
            </tr>
            <tr>
              <td>Ni</td>
              <td>c</td>
              <td>tlazohtla</td>
              <td>pedro</td>
              <td>Yo amo a pedro</td>
            </tr>
            <tr>
              <td>Ni</td>
              <td>c</td>
              <td>tlazohtla</td>
              <td>pedro</td>
              <td>Yo amo a pedro</td>
            </tr>
            <tr>
              <td>Ni</td>
              <td>c</td>
              <td>tlazohtla</td>
              <td>pedro</td>
              <td>Yo amo a pedro</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <!--Start Menu footer-->
      <footer-component></footer-component>
      <!--Start Menu footer-->
  </body>
</html>