<!DOCTYPE html>
<html>

<head>
  <title>Intransitivos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>


<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.7</span>
    </nav>
  </div>

  <div class="container">
    <h1>Verbos intransitivos.</h1>
    <hr>
    <p>Verbo intransitivo: Es cualquier verbo que expresa la idea completa o relativa sólo
      a la acción del sujeto, por lo cual los verbos intransitivos son aquellos en que la
      acción no tiene un objeto directo.</p>
    <p>
      El verbo llorar es intransitivo y lo podemos conjugar del siguiente modo.
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Pronombre</th>
            <th>Verbo</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ni</td>
            <td>choca</td>
            <td>Yo lloro</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>choca</td>
            <td>Tu lloras</td>
          </tr>
          <tr>
            <td>-</td>
            <td>choca</td>
            <td>El o ella llora</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>chocah</td>
            <td>Nosotros lloramos</td>
          </tr>
          <tr>
            <td>An</td>
            <td>chocah</td>
            <td>Ustedes lloran</td>
          </tr>
          <tr>
            <td>-</td>
            <td>chocah</td>
            <td>Ellos o ellas lloro</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>