<!DOCTYPE html>
<html>
  <head>
    <title>Reflexivos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
    
  </head>

  <body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.8</span>
    </nav>
  </div>

    <div class="container">
      <h1>Verbos Reflexivos</h1>
      <hr>
      <p>Los verbos reflexivos son aquellos en donde la acción recae sobre el mismo sujeto, 
        para indicar la reflexividad se añade los prefijos posesivos (“<i><strong>no</strong></i>”, 
        “<i><strong>mo</strong></i>”, “<i><strong>to</strong></i>”).</p>
      <como>El verbo transitivo bailar lo podemos volver reflexivo al agregar los prefijos; <i><strong>no</strong>
      </i>, <i><strong>mo</strong></i>, <i><strong>to</strong></i> como se muestra en la siguiente tabla.</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Prefijo</th>
              <th>Verbo</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>no</td>
              <td>ihtotia</td>
              <td>Yo bailo</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>mo</td>
              <td>ihtotia</td>
              <td>Tu bailas</td>
            </tr>
            <tr>
              <td>-</td>
              <td>mo</td>
              <td>ihtotia</td>
              <td>El o ella baila</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>to</td>
              <td>ihtotiah</td>
              <td>Nosotros bailamos</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>mo</td>
              <td>ihtotiah</td>
              <td>Ustedes bailan</td>
            </tr>
            <tr>
              <td>-</td>
              <td>mo</td>
              <td>ihtotiah</td>
              <td>Ellos o ellas bailan</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        Notamos que el verbo “bailar” no es reflexivo en español, sin embargo en náhuatl si lo es, 
        aunque el significado práctico de “<i><strong>Ninoihtotia</strong></i>“es "Yo bailo", se interpreta como “yo me bailo”.
      </p>
    
    </div>
    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
    </body>
</html>