<!DOCTYPE html>
<html>

<head>
  <title>Tiempos verbales</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->

</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.9</span>
    </nav>
  </div>

  <div class="container">
    <h1>El tiempo presente.</h1>
    <hr>
    <p>
      El tiempo presente es el más simple de los tiempos en náhuatl, ahora se muestran ejemplos
      usando un verbo transitivo, uno intransitivo y uno reflexivo.
    </p>
    <p>
      En náhuatl "te<i><strong>palehui</strong></i>” - el o ella ayuda a alguien es un verbo transitivo, y en tiempo
      presente conjuga del siguiente modo.
    </p>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Pronombre</th>
            <th>Prefijo</th>
            <th>Verbo</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ni</td>
            <td>te</td>
            <td>palehuia</td>
            <td>Yo ayudo a alguien</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>te</td>
            <td>palehuia</td>
            <td>Tu ayudas a alguien</td>
          </tr>
          <tr>
            <td>-</td>
            <td>te</td>
            <td>palehuia</td>
            <td>El o ella ayuda a alguien</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>te</td>
            <td>palehuiah</td>
            <td>Nosotros ayudamos a alguien</td>
          </tr>
          <tr>
            <td>An</td>
            <td>te</td>
            <td>palehuiah</td>
            <td>Ustedes ayudan a alguien</td>
          </tr>
          <tr>
            <td>-</td>
            <td>te</td>
            <td>palehuiah</td>
            <td>Ellos o ellas ayudan a alguien</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      Podemos usar el verbo cantar, del siguiente modo: “<i><strong>cuica</strong></i> -
      él o ella canta, y es un verbo intransitivo. Lo conjugamos en tiempo presente de la siguiente forma.
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Pronombre</th>
            <th>Verbo</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ni</td>
            <td>cuica</td>
            <td>Yo canto</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>cuica</td>
            <td>tu cantas</td>
          </tr>
          <tr>
            <td>-</td>
            <td>cuica</td>
            <td>El o ella canta</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>cuicah</td>
            <td>Nosotros cantamos</td>
          </tr>
          <tr>
            <td>An</td>
            <td>cuicah</td>
            <td>Ustedes cantan</td>
          </tr>
          <tr>
            <td>-</td>
            <td>cuicah</td>
            <td>Ellos o ellas cantan</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      y finalmente para el verbo reflexivo peinar, podemos utilizarlo de la forma:
      "mo<i><strong>pepetla</strong></i>” que significa el o ella se peina.
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Pronombre</th>
            <th>Prefijo</th>
            <th>Verbo</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ni</td>
            <td>no</td>
            <td>pepetla</td>
            <td>Yo me peino</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>mo</td>
            <td>pepetla</td>
            <td>Tu te peinas</td>
          </tr>
          <tr>
            <td>-</td>
            <td>mo</td>
            <td>pepetla</td>
            <td>El o ella se peina</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>to</td>
            <td>pepetlah</td>
            <td>Nosotros nos peinamos</td>
          </tr>
          <tr>
            <td>An</td>
            <td>mo</td>
            <td>pepetlah</td>
            <td>Ustedes se peinan</td>
          </tr>
          <tr>
            <td>-</td>
            <td>mo</td>
            <td>pepetlah</td>
            <td>Ellos o ellas se peinan</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h1>El tiempo pasado.</h1>
    <hr>
    <p>
      Para indicar el pasado simple o pretérito en la lengua náhuatl se antepone el prefijo
      "<i><strong>O</strong></i>”.
    </p>
    <p>
      Por ejemplo para el verbo llorar, podemos decir: "<i><strong>O</strong>chocac</i>” - el o ella llorar.
    </p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Prefijo</th>
            <th>Pronombre</th>
            <th>Verbo</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>O</td>
            <td>Ni</td>
            <td>chocac</td>
            <td>Yo llore</td>
          </tr>
          <tr>
            <td>O</td>
            <td>Ti</td>
            <td>chocac</td>
            <td>Tú lloraste</td>
          </tr>
          <tr>
            <td>O</td>
            <td>-</td>
            <td>chocac</td>
            <td>El o ella lloro</td>
          </tr>
          <tr>
            <td>O</td>
            <td>Ti</td>
            <td>chocacqueh</td>
            <td>Nosotros lloramos</td>
          </tr>
          <tr>
            <td>O</td>
            <td>An</td>
            <td>chocacqueh</td>
            <td>Ustedes lloraron</td>
          </tr>
          <tr>
            <td>O</td>
            <td>-</td>
            <td>chocacqueh</td>
            <td>Ellos o ellas lloraron</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h1>El tiempo futuro.</h1>
    <hr>
    <p>Para indicar el futuro simple en náhuatl se utilizan las siguientes reglas:</p>
    <ul class="list-group">
      <li class="list-group-item">
        1. Al tiempo simple del verbo agregar "<i><strong>-z</strong></i>” para singular y
        "<i><strong>-zqueh</strong></i>” para plural.
      </li>
      <li class="list-group-item">
        2. Si el verbo termina en dos vocales (normalmente en /<i><strong>ia</strong></i>/ o en
        /<i><strong>oa</strong></i>/) se elimina
        la última vocal y se agrega "<i><strong>-z</strong></i>" al final del verbo para singular o se agrega
        “<i><strong>-zqueh</strong></i>” al final del verbo para plural.
      </li>
    </ul>
    <p>Por ejemplo, la siguiente tabla muestra la conjugación en futuro del verbo: ir.</p>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Pronombre</th>
            <th>Verbo</th>
            <th>Sufijo</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ni</td>
            <td>ya</td>
            <td>z</td>
            <td>Yo iré</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>ya</td>
            <td>z</td>
            <td>Tu iras</td>
          </tr>
          <tr>
            <td>-</td>
            <td>ya</td>
            <td>z</td>
            <td>El o ella irá</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>ya</td>
            <td>zqueh</td>
            <td>Nosotros iremos</td>
          </tr>
          <tr>
            <td>An</td>
            <td>ya</td>
            <td>zqueh</td>
            <td>Ustedes irán</td>
          </tr>
          <tr>
            <td>-</td>
            <td>ya</td>
            <td>zqueh</td>
            <td>Ellos o ellas irán</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>