<!DOCTYPE html>
<html>
  <head>
    <title>Estudio y trabajo.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
    
  </head>
  <body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.10</span>
    </nav>
  </div>

    <div class="container">
      <h1>Estudio y trabajo.</h1>
      <hr>
      <p>- ¿Tlen timomachtia? <br>
        + Ninomachtia matematicas. <br>
        - Oh, notah no omomachtih matematicas. <br>
        + ¿Quema?, niyolpaqui, ¿ihuan te, tlein timomachtia? <br>
        - Ninomachtia nahuatlahtolli. <br>
        </p>
      <p>- ¿Qué estudias? <br>
        + Estudió matematicas. <br>
        - Oh, mi papá estudió matematicas también. <br>
        + ¿Si?, Me alegra, ¿y tú, qué estudias? <br>
        - Yo estudio lengua náhuatl. <br>
        </p>
      <p>En náhuatl utilizamos “momachtia” para decir el o ella estudia o 
        aprende aquí utilizamos el prefijo reflexivo.</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Reflexivo</th>
              <th>Verbo</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>no</td>
              <td>machtia</td>
              <td>Yo estudio/aprendo</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>mo</td>
              <td>machtia</td>
              <td>Tu estudias/aprendes</td>
            </tr>
            <tr>
              <td>-</td>
              <td>mo</td>
              <td>machtia</td>
              <td>El o ella estudia/aprende</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>to</td>
              <td>machtiah</td>
              <td>Nosotros estudiamos/aprendemos</td>
            </tr>
            <tr>
              <td>An</td>
              <td>mo</td>
              <td>machtiah</td>
              <td>Ustedes estudian/aprenden</td>
            </tr>
            <tr>
              <td>-</td>
              <td>mo</td>
              <td>machtiah</td>
              <td>Ellos o ellas estudian/aprenden</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>- ¿Titequiti? <br>
        + Quema, nitequiti, niamoxnamaca, ¿ihuan te? <br>
        - Cenca cualli, nehuatl nitemachtiani, nitequiti in tlamachtiloyan. <br>
        + Oh cenca cualli. <br>
        </p>
      <p>- ¿Trabajas? <br>
        + Si, yo trabajo, soy vendedor de libros, ¿y tú? <br>
        - Muy bien, yo soy maestro, trabajó en la universidad. <br>
        + Oh muy bien. <br>
        </p>
      <p>En náhuatl si queremos decir: “él o ella trabaja”, decimos: “Tequiti”.</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronobre</th>
              <th>Verbo</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>tequiti</td>
              <td>Yo trabajo.</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>tequiti</td>
              <td>Tu trabajas.</td>
            </tr>
            <tr>
              <td>-</td>
              <td>tequiti</td>
              <td>El o ella trabaja.</td>
            </tr>
            <tr>
              <td>An</td>
              <td>tequitih</td>
              <td>Nosotros trabajamos.</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>tequitih</td>
              <td>Ustedes trabajan.</td>
            </tr>
            <tr>
              <td>-</td>
              <td>tequitih</td>
              <td>Ellos o ellas trabajan.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
   </body>
</html>