<!DOCTYPE html>
<html>

<head>
  <title>Mi nombre es...</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->

</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.2</span>
    </nav>
  </div>

  <div class="container">
    <h1>Mi nombre es...</h1>
    <hr>
    <p>
      - Pialli. <br>
      + Pialli, ¿Quen motoca? <br>
      - Ne notoca Ale, nicempaqui nimitzmati, ¿tehuatl quen motoca? <br>
      + Ni Jose, yece noicniuhuan nechtocayotiah Pepe. <br>
    </p>

    <p>
      - Hola. <br>
      + Hola, ¿Cómo te llamas? <br>
      - Yo me llamo Ale, Mucho gusto en conocerte, ¿Tu, como te llamas? <br>
      + Soy Jose, pero mis amigos me llaman Pepe. <br>
    </p>

    <p>En náhuatl cuando queremos decir “llamar” o “nombrar” podemos decir: “<i><strong>Itoca</strong></i>”
      - él o ella se llama, en la siguiente tabla se muestra la conjugación de este verbo.</p>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Posesivo</th>
            <th>Verbo</th>
            <th>Complemento</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>No</td>
            <td>toca</td>
            <td>Jesus</td>
            <td>Me llamo Jesus.</td>
          </tr>
          <tr>
            <td>Mo</td>
            <td>toca</td>
            <td>Pedro</td>
            <td>Tu te llamas Pedro.</td>
          </tr>
          <tr>
            <td>I</td>
            <td>toca</td>
            <td>Maria</td>
            <td>Ella se llama Maria.</td>
          </tr>
          <tr>
            <td>To</td>
            <td>tocah</td>
            <td>Jorge</td>
            <td>Nos llamamos Jorge</td>
          </tr>
          <tr>
            <td>Anmo</td>
            <td>tocah</td>
            <td>Luis</td>
            <td>Ustedes se llaman Luis</td>
          </tr>
          <tr>
            <td>I</td>
            <td>tocah</td>
            <td>Ale</td>
            <td>Ellas o ellos se llaman Ale</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>Podemos utilizarlo de la siguiente manera,
      <i><strong>noicniuh ihuan ne totohcah</strong></i> Jorge que significa:
      mi hermano y yo nos llamamos Jorge.
    </p>

  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>