<!DOCTYPE html>
<html>

<head>
  <title>Vivo en...</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.3</span>
    </nav>
  </div>

  <div class="container">
    <h1>Vivo en...</h1>
    <hr>
    <p>
      - ¿Campa timochantia? <br>
      + Ninochantia ompa Veracruz. <br>
      - Oh, timochantia huehca. <br>
      + Quema ninochantia huehca, ¿Ihuan te, campa timochantia? <br>
      - Ninochantia nican Nauhcalpan. <br>
    </p>

    <p>
      - ¿Dónde vives? <br>
      + Yo vivo allá en Veracruz. <br>
      - Oh, tú vives lejos.. <br>
      + Si, yo vivo muy lejos, ¿y tu, donde vives? <br>
      - Yo vivo aquí en Nauhcalpan. <br>
    </p>

    <p>En náhuatl cuando queremos decir: “él o ella vive en…”, podemos utilizar “<i><strong>mochantia</strong></i>”,
      a continuación se muestra la conjugación.
    </p>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Pronombre</th>
            <th>Posesivo</th>
            <th>Verbo</th>
            <th>Complemento</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ni</td>
            <td>no</td>
            <td>chantia</td>
            <td>in nican Acaltlan.</td>
            <td>Yo vivo aqui en Acatlan.</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>mo</td>
            <td>chantia</td>
            <td>in nican Nauhcalpan.</td>
            <td>Yo vivo aqui en Naucalpan.</td>
          </tr>
          <tr>
            <td>-</td>
            <td>i</td>
            <td>chantia</td>
            <td>in ompa Hidalgo.</td>
            <td>Yo vivo alla en Hidalgo.</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>to</td>
            <td>chantiah</td>
            <td>in nican Mexihco.</td>
            <td>Nosotros vivimos aqui en Mexico.</td>
          </tr>
          <tr>
            <td>An</td>
            <td>mo</td>
            <td>chantiah</td>
            <td>in nican Xochitepec.</td>
            <td>Ustedes viven aqui en el cerro de Xochitl.</td>
          </tr>
          <tr>
            <td>-</td>
            <td>i</td>
            <td>chantiah</td>
            <td>in ompa Yucatan.</td>
            <td>Ellas o ellos viven alla en Yucatan.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->

</body>

</html>