<!DOCTYPE html>
<html>

<head>
  <title>Naci en...</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->

</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.4</span>
    </nav>
  </div>

  <div class="container">
    <h1>Nacie en...</h1>
    <hr>
    <p>
      - Canin otitlacat? <br>
      + Onitlacat ompa. <br>
      - Oh, noihuan onitlacat Ecatepec. <br>
    </p>

    <p>
      - ¿En dónde naciste? <br>
      + Nací allá en Ecatepec. <br>
      - Oh, Yo tambien naci en Ecatepec. <br>
    </p>

    <p>En náhuatl el verbo “<i><strong>Otlacat</strong></i>” significa: nacer, nótese que se antepone el prefijo
      “<i><strong>O</strong></i>” puesto que nacer es un acto en pasado.</p>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Prefijo</th>
            <th>Pronombre</th>
            <th>Verbo</th>
            <th>Sufijo</th>
            <th>Complemento</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>O</td>
            <td>ni</td>
            <td>tlacat</td>
            <td>-</td>
            <td>in nican Acatlan.</td>
            <td>Yo nací aquí en Acatlán.</td>
          </tr>
          <tr>
            <td>O</td>
            <td>ti</td>
            <td>tlacat</td>
            <td>-</td>
            <td>in nican Nauhcalpan.</td>
            <td>Tú naciste aquí en Naucalpan.</td>
          </tr>
          <tr>
            <td>O</td>
            <td>-</td>
            <td>tlacat</td>
            <td>-</td>
            <td>in ompa Hidalgo.</td>
            <td>El o ella nacio alla en Hidalgo.</td>
          </tr>
          <tr>
            <td>O</td>
            <td>ti</td>
            <td>tlacat</td>
            <td>queh</td>
            <td>in nican Mexihco.</td>
            <td>Nosotros nacimos aqui en Mexíco.</td>
          </tr>
          <tr>
            <td>O</td>
            <td>an</td>
            <td>tlacat</td>
            <td>queh</td>
            <td>in nican Puebla.</td>
            <td>Ustedes nacieron aqui en Puebla.</td>
          </tr>
          <tr>
            <td>O</td>
            <td>-</td>
            <td>tlacat</td>
            <td>queh</td>
            <td>in ompa Yucatan.</td>
            <td>Ellos o ellas nacieron alla en Yucatán.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>