<!DOCTYPE html>
<html>

<head>
  <title>La numeracion</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->

</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.5</span>
    </nav>
  </div>

  <div class="container">
    <h1>La numeracion.</h1>
    <hr>
    <p>A diferencia de la numeración decimal (base 10) que estamos acostumbrados a usar, en náhuatl
      la numeración está estructurada en forma vigesimal (base 20), en la siguiente tabla tenemos los
      números del uno al cinco.</p>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Número</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ce</td>
            <td>Uno</td>
          </tr>
          <tr>
            <td>Ome</td>
            <td>Dos</td>
          </tr>
          <tr>
            <td>Yei</td>
            <td>Tres</td>
          </tr>
          <tr>
            <td>Nahui</td>
            <td>Cuatro</td>
          </tr>
          <tr>
            <td>Macuilli</td>
            <td>Cinco</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>
    <p>Siguiendo esta estructura nos encontramos con el prefijo “<i><strong>chic</strong></i>”
      para construir los siguientes cinco números, nótese que después del
      prefijo utilizamos los primeros cuatro números, como si se tratase de una suma.</p>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Número</th>
          <th>Composicion</th>
          <th>Significado</th>
        </thead>
        <tbody>
          <tr>
            <td>Chicua<i><strong>cen</strong></i></td>
            <td>Cinco + uno</td>
            <td>Seis</td>
          </tr>
          <tr>
            <td>Chic<i><strong>ome</strong></i></td>
            <td>Cinco + dos</td>
            <td>Siete</td>
          </tr>
          <tr>
            <td>Chic<i><strong>eyi</strong></i></td>
            <td>Cinco + tres</td>
            <td>Ocho</td>
          </tr>
          <tr>
            <td>Chic<i><strong>nahui</strong></i></td>
            <td>Cinco + cuatro</td>
            <td>Nueve</td>
          </tr>
          <tr>
            <td>Matlactli</td>
            <td>Diez</td>
            <td>Diez</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>Para el siguiente conjunto de números el prefijo es sustituido por el número diez
      “<i><strong>Matlactli</strong></i>”
      y la palabra “ihuan” para construir el siguiente conjunto de números.</p>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Número</th>
          <th>Composicion</th>
          <th>Significado</th>
        </thead>
        <tbody>
          <tr>
            <td>Matlactli ihuan <i><strong>ce</strong></i></td>
            <td>Diez + uno</td>
            <td>Once</td>
          </tr>
          <tr>
            <td>Matlactli ihuan <i><strong>ome</strong></i></td>
            <td>Diez + dos</td>
            <td>Doce</td>
          </tr>
          <tr>
            <td>Matlactli ihuan <i><strong>yei</strong></i></td>
            <td>Diez + tres</td>
            <td>Trece</td>
          </tr>
          <tr>
            <td>Matlactli ihuan <i><strong>nahui</strong></i></td>
            <td>Diez + cuatro</td>
            <td>Catorce</td>
          </tr>
          <tr>
            <td>Caxtolli</td>
            <td>Quince</td>
            <td>Quince</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>de forma análoga cambiamos el prefijo para el siguiente conjunto de cinco números,
      ahora el prefijo es “<i><strong>Caxtolli</strong></i>”.</p>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Número</th>
          <th>Composicion</th>
          <th>Significado</th>
        </thead>
        <tbody>
          <tr>
            <td>Caxtolli ihuan <i><strong>ce</strong></i></td>
            <td>Quince + uno</td>
            <td>Dieciséis</td>
          </tr>
          <tr>
            <td>Caxtolli ihuan <i><strong>ome</strong></i></td>
            <td>Quince + dos</td>
            <td>Diecisiete</td>
          </tr>
          <tr>
            <td>Caxtolli ihuan <i><strong>yei</strong></i></td>
            <td>Quince + tres</td>
            <td>Dieciocho</td>
          </tr>
          <tr>
            <td>Caxtolli ihuan <i><strong>nahui</strong></i></td>
            <td>Quince + cuatro</td>
            <td>Diecinueve</td>
          </tr>
          <tr>
            <td>Cempohualli</td>
            <td>Veinte</td>
            <td>Veinte</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>Para continuar con la construcción de números y facilitar el aprendizaje se presenta
      la siguiente tabla.</p>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>