<!DOCTYPE html>
<html>

<head>
  <title>Tengo x años.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.6</span>
    </nav>
  </div>

  <div class="container">
    <h1>Tengo x años.</h1>
    <hr>
    <p>- ¿Quezquin xihuitl ticpia? <br>
      + Nicpia 26 xihuitl, ¿Ihuan anmehuantin, quezquin xihuitl anquipiah? <br>
      - Nicpia 15 xihuitl ihuan noicniuh quipia 8 xihuitl. <br>
    </p>
    <p>- ¿Cuántos años tienes? <br>
      + Tengo 26 años, ¿y ustedes, cuantos años tienen? <br>
      - Yo tengo 15 años y mi hermano tiene 8 años. <br>
    </p>
    <p>En náhuatl para referirse a la pertenencia,
      por ejemplo: “el tiene…”, decimos “<i><strong>tlapia</strong></i>“.</p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Pronombre</th>
            <th>Prefijo</th>
            <th>Verbo</th>
            <th>Complemento</th>
            <th>Significado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ni</td>
            <td>c</td>
            <td>pia</td>
            <td>15 xihuitl</td>
            <td>Tengo 15 años.</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>c</td>
            <td>pia</td>
            <td>37 xihuitl</td>
            <td>Tu tienes 37 años.</td>
          </tr>
          <tr>
            <td>-</td>
            <td>qui</td>
            <td>pia</td>
            <td>25 xihuitl</td>
            <td>El ella tiene 25 años.</td>
          </tr>
          <tr>
            <td>Ti</td>
            <td>qui</td>
            <td>piah</td>
            <td>10 xihuitl</td>
            <td>Nosotros tenemos 50 años.</td>
          </tr>
          <tr>
            <td>An</td>
            <td>qui</td>
            <td>piah</td>
            <td>10 xihuitl</td>
            <td>ustedes tienen 10 años.</td>
          </tr>
          <tr>
            <td>-</td>
            <td>qui</td>
            <td>piah</td>
            <td>45 xihuitl</td>
            <td>Ellos o ellas tienen 45 años.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>