<!DOCTYPE html>
<html>
  <head>
    <title>Me gusta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!--Start Componentes html-->
   <script src="./../../scrips/component.js"></script>
   <head-component></head-component>
   <!-- End Componentes html-->

  </head>

  <body>
      <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.7</span>
    </nav>
  </div>

    <div class="container">
      <h1>El verbo "Me gusta"</h1>
      <hr>
      <p>- Mitzpactia chichimeh? <br>
        + Quema, Nechpactia cenca in chichimeh, nicpia ce chichi. <br>
        - Oh,no nechpactia, ¿quen itocah mochichi? <br>
        + Nochichi itocah pulgas. <br>
        </p>
      <p>- ¿Te gustan los perros? <br>
        + Si, me gustan mucho los perros, tengo un perro. <br>
        - Oh a mi tambien me gustan, ¿cómo se llama tu perro? <br>
        + Mi perro se llama pulgas. <br>
        </p>
      <p>En náhuatl para decir le gusta utilizamos: “<i><strong>Quipactia</strong></i>”, 
        por ejemplo para decir que nos gusta comer helado - Nechpactia niccuaz helado.</p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Verbo</th>
              <th>Complemento</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nech</td>
              <td>pactia</td>
              <td>niccuaz chillaxcalli</td>
              <td>A mi me gusta comer enchiladas.</td>
            </tr>
            <tr>
              <td>Mitz</td>
              <td>pactia</td>
              <td>in octli</td>
              <td>A ti te gusta el vino.</td>
            </tr>
            <tr>
              <td>Qui</td>
              <td>pactia</td>
              <td>tlahcuiloz</td>
              <td>A él o ella le gusta dibujar o escribir cosas.</td>
            </tr>
              <td>Tech</td>
              <td>pactiah</td>
              <td>tiamanelozqueh</td>
              <td>A nosotros nos gusta nadar.</td>
            </tr>
            <tr>
              <td>Anmech</td>
              <td>pactiah</td>
              <td>ancuicazqueh</td>
              <td>A ustedes les gusta cantar.</td>
            </tr>
            <tr>
              <td>Quin</td>
              <td>pactiah</td>
              <td>tlapohuazqueh</td>
              <td>A ellos o ellas les gusta leer.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
   </body>
</html>