<!DOCTYPE html>
<html>
  <head>
    <title>El infinitivo.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--Start Componentes html-->
      <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
  </head>

  <body>
      <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.8</span>
    </nav>
  </div>

    <div class="container">
      <h1>El infinitivo.</h1>
      <hr>
      <p>En náhuatl el futuro simple suple al infinitivo (ar,er,ir), 
        por lo cual se utilizan las mismas reglas del futuro simple.
      </p>
      <ul class="list-unstyled">Reglas:
        <li class="mx-3 my-3"> 1. Al tiempo simple del verbo agregar “<i><strong>-z</strong></i>” 
          para singular y “<i><strong>-zqueh</strong></i>” para plural. 
        </li>
        <li class="mx-3 my-3"> 2. Si el verbo termina en dos vocales (normalmente en /<i><strong>ia</strong></i>/ 
          o en /<i><strong>-oa</strong></i>/) se elimina 
          la última vocal y se agrega “<i><strong>-z</strong></i>”
           al final del verbo para singular o se agrega  
           “<i><strong>-zqueh</strong></i>” al final del verbo para plural.</li>
      </ul>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Verbo</th>
              <th>Sufijo</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>cochi</td>
              <td>z</td>
              <td>Yo dormiré</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>cochi</td>
              <td>z</td>
              <td>Tu dormiras</td>
            </tr>
            <tr>
              <td>-</td>
              <td>cochi</td>
              <td>z</td>
              <td>El o ella dormira</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>cochi</td>
              <td>zqueh</td>
              <td>Nosotros dormiremos</td>
            </tr>
            <tr>
              <td>An</td>
              <td>cochi</td>
              <td>zqueh</td>
              <td>Ustedes dormiran</td>
            </tr>
            <tr>
              <td>-</td>
              <td>cochi</td>
              <td>zqueh</td>
              <td>Ellos o ellas dormiran</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Ejemplos en infinitivo:</p>
      <p>
        En náhuatl el verbo “cochiz” significa: dormir. <br>
        - Quipactia cochiz miec - A él le gusta dormir mucho.
      </p>
      <p>
        El verbo “tlaiz” significa: “beber algo”. <br>
        - Nechpactia niquiz octli - A mi me gusta beber vino.
      </p>
      </div>
    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
 </body>
</html>