<!DOCTYPE html>
<html>
  <head>
    <title>Estados animicos.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
  
  </head>
  <body>
    <!--Start Menu header-->
    <header-component></header-component>
    <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 2.9</span>
    </nav>
  </div>

    <div class="container">
      <h1>Estados animicos.</h1>
      <hr>
      <p>- ¿Quenin timomati? <br>
        + Ne niyolpaqui, tlazocamati. <br>
        - ¿Ihuan te, quenin timomati? <br>
        + Niciauhtoc. <br>
        </p>
      <p>- ¿Cómo te sientes? <br>
        + Me siento feliz, gracias. <br>
        - ¿Y tú, cómo te sientes? <br>
        + Estoy cansado. <br>
        </p>
      <p>En náhuatl siempre se debe colocar el pronombre al comienzo del estado anímico, a 
        continuación mostraremos cómo se conjugan algunos de estos. Se debe mencionar que estos 
        verbos incluyen de forma implícita el verbo “estar”.</p>
      <p>En náhuatl el verbo “<i><strong>yolpaqui</strong></i>” significa: estar feliz, y se conjuga de la siguiente forma.</p>
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Pronombre</th>
              <th>Estado animico</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ni</td>
              <td>yolpaqui</td>
              <td>Yo soy/estoy feliz.</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>yolpaqui</td>
              <td>Tu eres/estas feliz.</td>
            </tr>
            <tr>
              <td>-</td>
              <td>yolpaqui</td>
              <td>El o ella es/esta feliz.</td>
            </tr>
            <tr>
              <td>Ti</td>
              <td>yolpaquih</td>
              <td>Nosotros somos/estamos felices.</td>
            </tr>
            <tr>
              <td>An</td>
              <td>yolpaquih</td>
              <td>Ustedes somos/estamos felices.</td>
            </tr>
            <tr>
              <td>-</td>
              <td>yolpaquih</td>
              <td>Ellos o ellas son/estan felices.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>En náhuatl el verbo “<i><strong>tlaocoya</strong></i>” (intransitivo) significa “Estar triste”, y 
        se conjuga de la siguiente forma.</p>
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th>Pronombre</th>
                <th>Estado animico</th>
                <th>Significado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ni</td>
                <td>tlaocoya </td>
                <td>Yo soy/estoy triste.</td>
              </tr>
              <tr>
                <td>Ti</td>
                <td>tlaocoya </td>
                <td>Tu eres/estas triste.</td>
              </tr>
              <tr>
                <td>-</td>
                <td>tlaocoya </td>
                <td>El o ella es/esta triste.</td>
              </tr>
              <tr>
                <td>Ti</td>
                <td>tlaocoya </td>
                <td>Nosotros somos/estamos tristes.</td>
              </tr>
              <tr>
                <td>An</td>
                <td>tlaocoya </td>
                <td>Ustedes somos/estamos tristes.</td>
              </tr>
              <tr>
                <td>-</td>
                <td>tlaocoya </td>
                <td>Ellos o ellas son/estan tristes.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>En náhuatl el verbo “<i><strong>ciauhtoc</strong></i>” significa: “estar cansado/a”, 
          en este caso agregamos 
          el sufijo “<i><strong>-toc</strong></i>” ya que de otro modo el verbo diría “yo me canso” niciahui en lugar de 
          niciauhtoc “estoy cansado”, por lo tanto se utiliza el sufijo “<i><strong>-toc</strong></i>” para el singular y 
          “<i><strong>-toqueh</strong></i>” para el plural  y se conjuga de la siguiente forma.</p>
          <div class="table-responsive">
            <table class="table text-center">
              <thead>
                <tr>
                  <th>Pronombre</th>
                  <th>Estado animico</th>
                  <th>Significado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ni</td>
                  <td>ciauhtoc </td>
                  <td>Yo soy/estoy cansado.</td>
                </tr>
                <tr>
                  <td>Ti</td>
                  <td>ciauhtoc </td>
                  <td>Tu eres/estas cansado.</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>ciauhtoc </td>
                  <td>El o ella es/esta cansado.</td>
                </tr>
                <tr>
                  <td>Ti</td>
                  <td>ciauhtoqueh </td>
                  <td>Nosotros somos/estamos cansados.</td>
                </tr>
                <tr>
                  <td>An</td>
                  <td>ciauhtoqueh </td>
                  <td>Ustedes somos/estamos cansados.</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>ciauhtoqueh </td>
                  <td>Ellos o ellas son/estan cansados.</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
 </body>
</html>