<!DOCTYPE html>
<html>

<head>
  <title>Título de la página</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->

</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.1</span>
    </nav>
  </div>

  <div class="container">
    <h1>A mi me gusta el color.</h1>
    <hr>

    <p>- ¿Tlein tlapalli mitzpactia?. <br>
      + Nechpactia in tlapalli chichiltic. <br>
      - Cenca cualli, nechpactia in tlapalli iztactic, nocal quipia in tlapalli iztactic, ical Maria quipia in tlapalli
      iztactic. <br>
      + Oh, cenca cualli, ical nonan no quipia in tlapalli iztactic <br>
    </p>
    <p>- ¿Qué color te gusta?. <br>
      + A mi me gusta el color rojo. <br>
      - Que bien, a mi me gusta el color blanco, la casa de Maria es de color blanco. <br>
      + Oh, que bueno, tambien la casa de mi mama es de color blanco. <br>
    </p>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Nombre del color en español.</th>
            <th>Nombre del color en nahuatl.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Naranja</td>
            <td>Xochipaltic,
              Cozchichiltic,
              Nelaxtic
            </td>
          </tr>
          <tr>
            <td>Rojo</td>
            <td>Chichiltic,
              Tlahtlauhtic
            </td>
          </tr>
          <tr>
            <td>Amarillo</td>
            <td>Coztic</td>
          </tr>
          <tr>
            <td>Blanco</td>
            <td>Iztactic,
              Chipahuac,
              Chipauhtic
            </td>
          </tr>
          <tr>
            <td>Verde</td>
            <td>Xohxohuic,
              Quiltic,
              Xoxouhtic
            </td>
          </tr>
          <tr>
            <td>Morado</td>
            <td>Yahuitl,
              Yauhtic
            </td>
          </tr>
          <tr>
            <td>Negro</td>
            <td>Tliltic,
              Yayahuic,
              Yohualtic
            </td>
          </tr>
          <tr>
            <td>Violeta</td>
            <td>Camohtic,
              Camohpaltic
            </td>
          </tr>
          <tr>
            <td>Azul</td>
            <td>Matlaltic</td>
          </tr>
          <tr>
            <td>Turquesa</td>
            <td>Xiuhtic,
              Xiuhpaltic,
              Chalchihtic
            </td>
          </tr>
          <tr>
            <td>Rosa</td>
            <td>Tlazohuhualtic,
              Tlazohtlapaltic,
              Tlahcochilchiltic
            </td>
          </tr>
          <tr>
            <td>Oro</td>
            <td>Teocuitlatl</td>
          </tr>
          <tr>
            <td>Cafe</td>
            <td>Chocalatic,
              Coyotic
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>En náhuatl pueden existir tantos nombres de colores como nombres de cosas,
      para hacer referencia a un color, por ejemplo el color de la noche <strong>“yohualli”</strong>,
      se quita la terminación del sustantivo y se agrega el sufijo <strong>“-tic”</strong>,
      <strong>“yohualtic”</strong>, entonces este es el color negro.
    </p>
    <p>
      Ahora las palabras que terminan en “-tic” normalmente son adjetivos,se puede adjetivar a
      partir de un sustantivo, aquí tenemos otro ejemplo: <strong>“Tlalli”</strong> que significa
      Tierra. <strong>“Tlaltic”</strong> - Color de la tierra.
    </p>
  </div>
  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>