<!DOCTYPE html>
<html>
  <head>
    <title>Título de la página</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->
  </head>
  <body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.1</span>
    </nav>
  </div>

  <div class="container">
    <h1>Frutas y verduras.</h1>
    <hr>

    <p>- ¿De qué color es la cebolla? <br>
      - ¿Tlen tlalli quipia hueyixonacatl? <br>
    </p>
    <p>- Tengo un kilo de jitomate <br>
      - Nicpia ce kilo in xihtomatl <br>
    </p>
    <p>- ¿Cuánto cuesta el pimiento? <br>
      - ¿tlein ipatih in xouchilli? <br>
    </p>
    <p>- Me gusta mucho la jícama con chile <br>
      - Cenca nechpactia in xicamatl ica chilli <br>
    </p>
    <p>Muchos de los nombres de frutos que utilizamos en el español provienen 
      de palabras en náhuatl, como por ejemplo: Jitomate que en náhuatl se dice 
      Xihtomatl, Aquí se muestran algunos nombres de frutos en nahuatl.</p>

      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th>Nombre del fruto en español.</th>
              <th>Nombre del fruto en nahuatl.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jicama</td>
              <td>Xicamatl</td>
            </tr>
            <tr>
              <td>Jitomate</td>
              <td>Xihtomatl</td>
            </tr>
            <tr>
              <td>Chayote</td>
              <td>Chayotli</td>
            </tr>
            <tr>
              <td>Chile</td>
              <td>Chilli</td>
            </tr>
            <tr>
              <td>Pimiento</td>
              <td>Epazote</td>
            </tr>
            <tr>
              <td>Xonacatl</td>
              <td>Cebollin</td>
            </tr>
            <tr>
              <td>Hueyixonacatl</td>
              <td>Cebolla</td>
            </tr>
            <tr>
              <td>Zapote</td>
              <td>Tzapotl</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
    <!--Start Menu footer-->
    <footer-component></footer-component>
    <!--Start Menu footer-->
</body>
</html>