<!DOCTYPE html>
<html>

<head>
  <title>Título de la página</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->

</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->

  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 1.1</span>
    </nav>
  </div>


  <div class="container">
    <h1>Descripcion de personas.</h1>
    <hr>

    <p>- Huey tlacatl <br>
      - El hombre es grande<br>
    </p>
    <p>- Noicniuh chicahuac <br>
      - Mi amigo es fuerte <br>
    </p>
    <p>- Yehuatl pitzactzin <br>
      - El o ella es delgado/a <br>
    </p>
    <p>- Amehuantin anchicahuaquen <br>
      - Ustedes son fuertes <br>
    </p>
    <p>
      - Nonan Cuahtic <br>
      - Mi mama es alta
    </p>
    <p>En náhuatl muchos adjetivos no tienen forma masculina o femenina,
      se usan indistintamente por ejemplo <strong>“huahcapantic”</strong> significa:
      "alto" pero también es "alta". A continuación se enuncian algunos adjetivos comunes
      y sus significados.</p>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Adjetivo.</th>
            <th>Significado.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Chicahuac</td>
            <td>Fuerte</td>
          </tr>
          <tr>
            <td>Cualli</td>
            <td>Bueno</td>
          </tr>
          <tr>
            <td>Cuahtic</td>
            <td>Alto</td>
          </tr>
          <tr>
            <td>Xitlapalli</td>
            <td>Moreno</td>
          </tr>
          <tr>
            <td>Huehue</td>
            <td>Viejo</td>
          </tr>
          <tr>
            <td>Huey</td>
            <td>Grande</td>
          </tr>
          <tr>
            <td>Iztac</td>
            <td>Blanco</td>
          </tr>
          <tr>
            <td>Tomahuac</td>
            <td>Gordo</td>
          </tr>
          <tr>
            <td>Cuillotic</td>
            <td>Gentil</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      Existen algunos adjetivos que se forman a partir de verbos por ejemplo:
      <strong>paquini</strong> -> paqui(ella se ríe) -> risueña, al <strong>verbo paqui</strong>
      , se agrega la terminación <strong>ni</strong>.
      <br>
    </p>
    <p>
      En la tabla notamos que muchos de estos adjetivos comparte terminación,
      por lo cual podemos intuir que del mismo modo que se adjetivan sustantivos
      para hacer referencia a los colores, se toman sustantivos para convertirse
      en adjetivos calificativos, por ejemplo el sustantivo <strong>“yollotl”</strong> significa:
      corazón, si nosotros agregamos la terminación <strong>“tic”</strong> y el infijo
      <strong>“te”</strong> al sustantivo, podemos escribir <strong>“yoltetic”</strong>
      que significa: fuerte de corazón.
    </p>

    <p>
      También podemos describir partes del cuerpo. A continuación se muestran
      algunas partes del cuerpo.
    </p>
    <br>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Partes del cuerpo.</th>
            <th>Significado.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ixtli</td>
            <td>Ojo</td>
          </tr>
          <tr>
            <td>Tzontli / tzoncalli</td>
            <td>Cabello</td>
          </tr>
          <tr>
            <td>Yacactli</td>
            <td>Nariz</td>
          </tr>
          <tr>
            <td>Tenxipalli</td>
            <td>Labios</td>
          </tr>
          <tr>
            <td>Tlancochtli</td>
            <td>Dientes</td>
          </tr>
          <tr>
            <td>Xayacatl</td>
            <td>Rostro</td>
          </tr>
          <tr>
            <td>Maitl</td>
            <td>Mano</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>