<!DOCTYPE html>
<html>

<head>
  <title>Título de la página</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Start Componentes html-->
  <script src="./../../scrips/component.js"></script>
  <head-component></head-component>
  <!-- End Componentes html-->

</head>

<body>
  <!--Start Menu header-->
  <header-component></header-component>
  <!--End Menu header-->
  <!--Migas de pan-->
  <div class="container py-4">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Inicio</a>
      <a class="breadcrumb-item" href="/Resumenes">Resumenes</a>
      <span class="breadcrumb-item active" aria-current="page">Tema 4.1</span>
    </nav>
  </div>


  <div class="container">
    <h1>Parentesco.</h1>
    <hr>

    <p>
      Llegando a este último tema de la unidad 4, entendemos porque muchas cosas dentro
      del náhuatl que no pueden ser ambiguas, y en las relaciones de parentesco ocurre lo
      mismo, por ejemplo si nosotros queremos referirnos a nuestro hijo o hija pequeña,
      decimos <strong>“conetl”</strong>, pero si tenemos más de un hijo/a y nos queremos
      referir al menor
      podemos decir <strong>“xocoyozin”</strong>, si queremos referirnos al hijo de alguien
      mas, decimos
      <strong>“teconetl</strong>, si en cambio nos queremos referir a nuestros hijos
      o hijas en plural,
      podemos decir <strong>“mopilhuan”</strong>, o si es nuestro hijo, pero es hijo único,
      decimos
      <strong>“celconetl”</strong>.
    </p>
    <br>
    <p>
      Existen muy diversas formas de nombrar las relaciones sociales en el mundo nahua.
      A continuación se muestran algunas de las más usuales.
    </p>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Miembro de la familia.</th>
            <th>Parentesco.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cihtli</td>
            <td>Abuela</td>
          </tr>
          <tr>
            <td>Colli</td>
            <td>Abuelo</td>
          </tr>
          <tr>
            <td>Tahtli</td>
            <td>Padre</td>
          </tr>
          <tr>
            <td>Nantli</td>
            <td>Madre</td>
          </tr>
          <tr>
            <td>Ahuitl</td>
            <td>Tia</td>
          </tr>
          <tr>
            <td>Tlahtli</td>
            <td>Tio</td>
          </tr>
          <tr>
            <td>Teicautli</td>
            <td>Hermano menor</td>
          </tr>
          <tr>
            <td>Tiachcautli</td>
            <td>Hermano mayor</td>
          </tr>
          <tr>
            <td>Icniuhtli</td>
            <td>Hermano</td>
          </tr>
          <tr>
            <td>Coatemeh / Coatl</td>
            <td>Gemelo</td>
          </tr>
          <tr>
            <td>Teicu</td>
            <td>Hermana menor</td>
          </tr>
          <tr>
            <td>Hueltiuhtli</td>
            <td>Hermana mayor</td>
          </tr>
          <tr>
            <td>Cihuaicnitl</td>
            <td>Hermana</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!--Start Menu footer-->
  <footer-component></footer-component>
  <!--Start Menu footer-->
</body>

</html>